.display{
    margin-left:270px;
    margin-top:-550px;
padding-top: 10px;
padding-left: 40px;
        /* margin-top: -906px; */
        margin-right: -175px;
        text-align:left;
        border:1px solid transparent;
        width:78%;
        background-color: #d9edf7;
        color: #31708f;
      }
      .row{
        width:70%;
        margin-left:261px;
        margin-top: 2rem;
      }
      .img{
        width:20%;
        margin-right: 10px;

      }
      .h6{
        margin-right:10px;
      
      }

      .display{
        margin-left:270px;
        margin-top:-550px;
    padding-top: 10px;
    padding-left: 40px;
            /* margin-top: -906px; */
            margin-right: -175px;
            text-align:left;
            border:1px solid transparent;
            width:78%;
            background-color: #d9edf7;
            color: #31708f;
          }
          .row{
            width:70%;
            margin-left:261px;
            margin-top: 2rem;
          }
          .img{
            width:20%;
            margin-right: 10px;
    
          }
          .h6{
            margin-right:10px;
          
          }
    
